@using Secyud.Ugf.DataManager
@inherits ObjectFieldBase
@implements IObjectField
@{
    object value = Value;

    @if (value is null)
    {
        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>
                @LabelText - @FieldAttribute.ElementType.Name
            </FieldLabel>
            <FieldBody>
                <ClassSelector BaseClass="FieldAttribute.ElementType"
                               EnsureAction="CreateClassObject"/>
            </FieldBody>
            <FieldHelp>
                @Description
            </FieldHelp>
        </Field>
    }
    else
    {
        <Accordion>
            <Collapse Visible="true">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is6">
                        <AccordionToggle>
                            <Tooltip Text="@Description">
                                @LabelText - @FieldAttribute?.ElementType.Name
                            </Tooltip>
                        </AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    @if (FieldAttribute is not null)
                    {
                        <Button Clicked="DestroyClassObject" Color="Color.Danger">×</Button>
                    }
                    @{
                        Type objectType = value.GetType();
                        TypeDescriptor descriptor =
                            TypeManager.Instance[objectType];
                        List<SAttribute> list = [];
                        descriptor.Properties.FillAttributes(list);
                        <Fields>
                            @for (int i = 0; i < list.Count; i++)
                            {
                                SAttribute attr = list[i];
                                if (attr.Type.HasFlag(FieldType.List))
                                {
                                    <ObjectFieldSeries FieldAttribute="attr" ParentField="@this"/>
                                }
                                else
                                {
                                    switch (attr.Type)
                                    {
                                        case FieldType.UInt8:
                                        case FieldType.UInt16:
                                        case FieldType.UInt32:
                                        case FieldType.UInt64:
                                        case FieldType.Int8:
                                        case FieldType.Int16:
                                        case FieldType.Int32:
                                        case FieldType.Int64:
                                            <ObjectFieldInteger FieldAttribute="attr" ParentField="@this"/>
                                            break;
                                        case FieldType.Bool:
                                            <ObjectFieldBoolean FieldAttribute="attr" ParentField="@this"/>
                                            break;
                                        case FieldType.Decimal:
                                        case FieldType.Single:
                                        case FieldType.Double:
                                            <ObjectFieldNumber FieldAttribute="attr" ParentField="@this"/>
                                            break;
                                        case FieldType.String:
                                            <ObjectFieldText FieldAttribute="attr" ParentField="@this"/>
                                            break;
                                        case FieldType.Guid:
                                            <ObjectFieldGuid FieldAttribute=" attr" ParentField="@this"/>
                                            break;
                                        case FieldType.Object:
                                            <ObjectFieldObject FieldAttribute="attr" ParentField="@this"/>
                                            break;
                                        case FieldType.List:
                                        case FieldType.InValid:
                                        default: throw new ArgumentOutOfRangeException();
                                    }
                                }
                            }
                        </Fields>
                    }
                </CollapseBody>
            </Collapse>
        </Accordion>
    }
}


@code {
    protected object Cache;

    public object Value
    {
        get => Cache;
        set
        {
            Cache = value;
            SetValue(value);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Cache = GetValue();
    }

    public object Reference => Value;

    private void CreateClassObject(Guid id)
    {
        Value = TypeManager.Instance[id].CreateInstance();
    }

    private void DestroyClassObject()
    {
        Value = null;
    }

}

