@using Secyud.Ugf.DataManager
@using System.Collections
@using Ugf.DataManager.ClassManager



@switch (Attr.Type)
{
    case FieldType.Object:
        switch (Obj)
        {
            case null:
                <ClassSelector BaseClass="@Attr.Info.FieldType"
                               EnsureAction="id => SetObject(Attr, id)"/>
                break;
            case IList {IsFixedSize: true } list:
            {
                for (int i = 0; i < list.Count; i++)
                {
                    int index = i;
                    object subO = list[i];
                    if (subO is null)
                    {
                        <ClassSelector
                            BaseClass="list.GetType().GetGenericArguments().First()"
                            EnsureAction="id => list[index] = CreateObject(id)"/>
                    }
                    else
                    {
                        <Button Clicked="() => list[index] = null">SetNull</Button>
                        <Badge Color="@Color.Info">
                            @subO.GetType().Name
                        </Badge>
                        <ObjectDataComponent Object="@subO"/>
                    }
                }
                break;
            }
            case IList list:
            {
                for (int i = 0; i < list.Count; i++)
                {
                    int index = i;
                    object subO = list[index];
                    <ObjectDataComponent Object="@subO"/>
                    <Button Clicked="() => list.RemoveAt(index)">Remove</Button>
                }
                <ClassSelector BaseClass="@Attr.Info.FieldType"
                               EnsureAction="id => list.Add(CreateObject(id))"/>
                break;
            }
            default:
                <Button Clicked="() => SetObject(Attr, default)">SetNull</Button>
                <Tooltip Text="@Property?.Description">
                    <Badge Color="@Color.Info">
                        @Obj.GetType().Name
                    </Badge>
                </Tooltip>
                <ObjectDataComponent Object="@Obj"/>
                break;
        }
        break;
    case FieldType.Bool:
        <Check TValue="bool" Checked="Data.GetValue<bool>(Attr)"
               CheckedChanged="b => Data.SetValue(Attr, b)"/>
        break;
    case FieldType.UInt8:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="byte" Value="Data.GetValue<byte>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="byte" Value="Data.GetValue<byte>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.UInt16:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="ushort" Value="Data.GetValue<ushort>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="ushort" Value="Data.GetValue<ushort>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.UInt32:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="uint" Value="Data.GetValue<uint>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="uint" Value="Data.GetValue<uint>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.UInt64:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="ulong" Value="Data.GetValue<ulong>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="ulong" Value="Data.GetValue<ulong>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Int8:
        @if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="sbyte" Value="Data.GetValue<sbyte>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="sbyte" Value="Data.GetValue<sbyte>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Int16:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="short" Value="Data.GetValue<short>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="short" Value="Data.GetValue<short>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Int32:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="int" Value="Data.GetValue<int>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="int" Value="Data.GetValue<int>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Int64:
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            <BinaryEdit TValue="long" Value="Data.GetValue<long>(Attr)"
                        ValueChanged="v => Data.SetValue(Attr, v)">
            </BinaryEdit>
        }
        else
        {
            <NumericEdit TValue="long" Value="Data.GetValue<long>(Attr)"
                         ValueChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Single:
        <NumericEdit TValue="float" Value="Data.GetValue<float>(Attr)"
                     ValueChanged="v => Data.SetValue(Attr, v)"/>
        break;
    case FieldType.Double:
        <NumericEdit TValue="double" Value="Data.GetValue<double>(Attr)"
                     ValueChanged="v => Data.SetValue(Attr, v)"/>
        break;
    case FieldType.Decimal:
        <NumericEdit TValue="decimal" Value="Data.GetValue<decimal>(Attr)"
                     ValueChanged="v => Data.SetValue(Attr, v)"/>
        break;
    case FieldType.String: 
        if (Attr.Style == EditStyle.FlagOrMemo)
        {
            string text = Data.GetValue<string>(Attr);
            <MemoEdit Text="@text"
                      TextChanged="v => Data.SetValue(Attr, v)">
            </MemoEdit>
        }
        else
        {
            string text = Data.GetValue<string>(Attr);

            <TextEdit Text="@text"
                      TextChanged="v => Data.SetValue(Attr, v)"/>
        }
        break;
    case FieldType.Guid:
        <GuidEdit Value="Data.GetValue<Guid>(Attr)"
                  ValueChanged="v => Data.SetValue(Attr, v)"/>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}